In [14]:
import pandas as pd

Remove any duplicate players. Make sure to remove the lower index player

In [16]:
df = pd.read_csv('15.csv')
dv = pd.read_csv('players.csv')

In [17]:
merged_df = pd.merge(df, dv, left_on='player_name', right_on='name', how='inner')

# (Optional) Drop the duplicate 'name' column if it's the same as 'player_name'
merged_df.drop(columns=['name', 'contract_expiration_date'], inplace=True)

In [19]:
merged_df.to_csv('all_merged15.csv')

In [20]:
merged_df.columns

Index(['Unnamed: 0', 'player_name', 'teams_played_for', 'league', 'games',
       'minutes_played', 'goals', 'npg', 'assists', 'xG', 'xA', 'npxG', 'xG90',
       'xA90', 'npxG90', 'position_x', 'shots', 'key_passes', 'yellow_cards',
       'red_cards', 'xGBuildup', 'xGChain', 'player_id', 'first_name',
       'last_name', 'last_season', 'current_club_id', 'player_code',
       'country_of_birth', 'city_of_birth', 'country_of_citizenship',
       'date_of_birth', 'sub_position', 'position_y', 'foot', 'height_in_cm',
       'agent_name', 'image_url', 'url',
       'current_club_domestic_competition_id', 'current_club_name',
       'market_value_in_eur', 'highest_market_value_in_eur'],
      dtype='object')

In [21]:
columns_to_keep = [
    'player_name', 'teams_played_for', 'league', 'games', 'minutes_played',
    'goals', 'npg', 'assists', 'xG', 'xA', 'npxG', 'xG90', 'xA90', 'npxG90',
    'position_x', 'shots', 'key_passes', 'yellow_cards', 'red_cards',
    'xGBuildup', 'xGChain', 'player_id', 'first_name', 'last_name',
    'last_season', 'current_club_id', 'player_code', 'market_value_in_eur', 'height_in_cm',
    'date_of_birth'
]

# Assuming your merged DataFrame is called merged_df
filtered_df = merged_df[columns_to_keep]

# Save to a new CSV file
filtered_df.to_csv('cleaned_players_15.csv', index=False)

In [23]:
# Example DataFrame
df_15 = pd.read_csv('cleaned_players_15.csv')  # if loading from file

# Ensure date_of_birth is datetime
df_15['date_of_birth'] = pd.to_datetime(df_15['date_of_birth'], errors='coerce')

# Reference date: March 1, 2015
ref_date = pd.Timestamp('2015-03-01')

# Calculate age in months manually
df_15['age_in_months_2015'] = (
    (ref_date.year - df_15['date_of_birth'].dt.year) * 12 +
    (ref_date.month - df_15['date_of_birth'].dt.month)
)

In [24]:
df_15.head()

,player_name,teams_played_for,league,games,minutes_played,goals,npg,assists,xG,xA,...,player_id,first_name,last_name,last_season,current_club_id,player_code,market_value_in_eur,height_in_cm,date_of_birth,age_in_months_2015
0,Harry Kane,Tottenham,EPL,38,3382,25,20,1,22.732074,3.088512,...,132098,Harry,Kane,2024,27,harry-kane,90000000.0,188.0,1993-07-28,260.0
1,Sergio Agüero,Manchester City,EPL,30,2399,24,20,2,20.077214,2.028760,...,26399,Sergio,Agüero,2021,131,sergio-aguero,15000000.0,173.0,1988-06-02,321.0
2,Jamie Vardy,Leicester,EPL,36,3154,24,19,6,22.135407,6.267152,...,197838,Jamie,Vardy,2024,1003,jamie-vardy,1000000.0,179.0,1987-01-11,338.0
3,Romelu Lukaku,Everton,EPL,37,3194,18,17,6,20.058781,5.680435,...,96341,Romelu,Lukaku,2024,6195,romelu-lukaku,22000000.0,191.0,1993-05-13,262.0
4,Riyad Mahrez,Leicester,EPL,37,3087,17,13,11,11.882148,11.454098,...,171424,Riyad,Mahrez,2022,281,riyad-mahrez,18000000.0,179.0,1991-02-21,289.0

In [25]:
df_15.drop(columns=['date_of_birth'], inplace=True)

In [26]:
df_15.to_csv('Season_After_Data_15.csv', index=False)

Determining player performance value:
Add win %

In [28]:
team_data = pd.read_csv('team_stats_filtered.csv')
team_data.head()

   team_id     team_long_name  wins  ties  games_played
0     8634       FC Barcelona   234    43           304
1     8633     Real Madrid CF   228    36           304
2     9925             Celtic   218    50           304
3     9823   FC Bayern Munich   193    44           272
4    10260  Manchester United   192    57           304

In [31]:
before_merge = len(df_15)

# Perform the merge
df_with_win_percent = pd.merge(team_data, df_15, left_on='team_long_name', right_on='teams_played_for', how='inner')

# Number of rows after merge
after_merge = len(df_with_win_percent)

# Calculate how many were dropped
dropped_rows = before_merge - after_merge

print(f'Rows before merge: {before_merge}')
print(f'Rows after merge: {after_merge}')
print(f'Rows dropped (no matching team): {dropped_rows}')

Rows before merge: 2438
Rows after merge: 1006
Rows dropped (no matching team): 1432

In [34]:
df_with_win_percent.head()

,team_id,team_long_name,wins,ties,games_played,player_name,teams_played_for,league,games,minutes_played,...,xGChain,player_id,first_name,last_name,last_season,current_club_id,player_code,market_value_in_eur,height_in_cm,age_in_months_2015
0,10260,Manchester United,192,57,304,Anthony Martial,Manchester United,EPL,31,2632,...,15.577428,182877,Anthony,Martial,2024,2441,anthony-martial,9000000.0,181.0,231.0
1,10260,Manchester United,192,57,304,Wayne Rooney,Manchester United,EPL,28,2411,...,13.664942,3332,Wayne,Rooney,2017,985,wayne-rooney,2000000.0,176.0,353.0
2,10260,Manchester United,192,57,304,Juan Mata,Manchester United,EPL,38,2907,...,15.267882,44068,Juan,Mata,2022,141,juan-mata,1000000.0,170.0,323.0
3,10260,Manchester United,192,57,304,Marcus Rashford,Manchester United,EPL,11,870,...,4.797226,258923,Marcus,Rashford,2024,405,marcus-rashford,50000000.0,185.0,209.0
4,10260,Manchester United,192,57,304,Jesse Lingard,Manchester United,EPL,25,1641,...,7.917210,141660,Jesse,Lingard,2022,703,jesse-lingard,6000000.0,174.0,267.0

In [38]:
df_with_win_percent['points_per_game'] = (
    (df_with_win_percent['wins'] * 3 + df_with_win_percent['ties']) / df_with_win_percent['games_played']
)

In [39]:
df_with_win_percent.head()

,team_id,team_long_name,wins,ties,games_played,player_name,teams_played_for,league,games,minutes_played,...,player_id,first_name,last_name,last_season,current_club_id,player_code,market_value_in_eur,height_in_cm,age_in_months_2015,points_per_game
0,10260,Manchester United,192,57,304,Anthony Martial,Manchester United,EPL,31,2632,...,182877,Anthony,Martial,2024,2441,anthony-martial,9000000.0,181.0,231.0,2.082237
1,10260,Manchester United,192,57,304,Wayne Rooney,Manchester United,EPL,28,2411,...,3332,Wayne,Rooney,2017,985,wayne-rooney,2000000.0,176.0,353.0,2.082237
2,10260,Manchester United,192,57,304,Juan Mata,Manchester United,EPL,38,2907,...,44068,Juan,Mata,2022,141,juan-mata,1000000.0,170.0,323.0,2.082237
3,10260,Manchester United,192,57,304,Marcus Rashford,Manchester United,EPL,11,870,...,258923,Marcus,Rashford,2024,405,marcus-rashford,50000000.0,185.0,209.0,2.082237
4,10260,Manchester United,192,57,304,Jesse Lingard,Manchester United,EPL,25,1641,...,141660,Jesse,Lingard,2022,703,jesse-lingard,6000000.0,174.0,267.0,2.082237

In [41]:
df_with_win_percent['position_x'].head()

0    F M S
1    F M S
2      M S
3        F
4    F M S
Name: position_x, dtype: object

In [54]:
# Record original number of rows
original_rows = len(df_with_win_percent)

# Drop rows where 'market_value_in_eur' is 0 or NaN
df_with_win_percent = df_with_win_percent[df_with_win_percent['market_value_in_eur'].fillna(0) != 0]

# Record how many rows were dropped
dropped_rows = original_rows - len(df_with_win_percent)
print(f"Rows dropped due to zero or missing market value: {dropped_rows}")

# Define PPV calculation
def calculate_ppv(row):
    assists = row['assists'] if pd.notna(row['assists']) else 0
    goals = row['goals'] if pd.notna(row['goals']) else 0
    win_pct = row['points_per_game'] if pd.notna(row['points_per_game']) else 0
    value = row['market_value_in_eur']
    position = str(row['position_x'])

    # Now no need to check for zero value, already filtered
    denominator = 0.30 * value

    if 'F' in position:
        numerator = 0.40 * goals + 0.20 * assists + 0.10 * win_pct + 0.30 * value
    else:
        numerator = 0.30 * assists + 0.30 * goals + 0.10 * win_pct + 0.30 * value

    return numerator / denominator

# Apply the function
df_with_win_percent['player_performance_valuation'] = df_with_win_percent.apply(calculate_ppv, axis=1)

Rows dropped due to zero or missing market value: 1

/tmp/ipykernel_2091260/2926568437.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_with_win_percent['player_performance_valuation'] = df_with_win_percent.apply(calculate_ppv, axis=1)

In [55]:
df_with_win_percent.head()

,team_id,team_long_name,wins,ties,games_played,player_name,teams_played_for,league,games,minutes_played,...,first_name,last_name,last_season,current_club_id,player_code,market_value_in_eur,height_in_cm,age_in_months_2015,points_per_game,player_performance_valuation
0,10260,Manchester United,192,57,304,Anthony Martial,Manchester United,EPL,31,2632,...,Anthony,Martial,2024,2441,anthony-martial,9000000.0,181.0,231.0,2.082237,1.000002
1,10260,Manchester United,192,57,304,Wayne Rooney,Manchester United,EPL,28,2411,...,Wayne,Rooney,2017,985,wayne-rooney,2000000.0,176.0,353.0,2.082237,1.000008
2,10260,Manchester United,192,57,304,Juan Mata,Manchester United,EPL,38,2907,...,Juan,Mata,2022,141,juan-mata,1000000.0,170.0,323.0,2.082237,1.000012
3,10260,Manchester United,192,57,304,Marcus Rashford,Manchester United,EPL,11,870,...,Marcus,Rashford,2024,405,marcus-rashford,50000000.0,185.0,209.0,2.082237,1.000000
4,10260,Manchester United,192,57,304,Jesse Lingard,Manchester United,EPL,25,1641,...,Jesse,Lingard,2022,703,jesse-lingard,6000000.0,174.0,267.0,2.082237,1.000001

In [56]:
df_with_win_percent_sorted = df_with_win_percent.sort_values(by='player_performance_valuation', ascending=False)

In [57]:
df_with_win_percent_sorted.head(20)

,team_id,team_long_name,wins,ties,games_played,player_name,teams_played_for,league,games,minutes_played,...,first_name,last_name,last_season,current_club_id,player_code,market_value_in_eur,height_in_cm,age_in_months_2015,points_per_game,player_performance_valuation
598,8524,Atalanta,79,69,263,Germán Denis,Atalanta,Serie_A,15,982,...,Germán,Denis,2015,800,german-denis,10000.0,182.0,402.0,1.163498,1.000639
915,8678,Bournemouth,11,9,38,Callum Wilson,Bournemouth,EPL,13,769,...,Callum,Wilson,2017,2760,callum-wilson,25000.0,189.0,189.0,1.105263,1.000281
107,8456,Manchester City,175,61,304,David Silva,Manchester City,EPL,24,1818,...,David,Silva,2013,2553,david-silva,50000.0,178.0,341.0,1.927632,1.000273
992,9891,Frosinone,8,7,38,Daniel Pavlovic,Frosinone,Serie_A,22,1939,...,Daniel,Pavlovic,2017,1038,daniel-pavlovic,25000.0,183.0,323.0,0.815789,1.000211
748,8466,Southampton,60,40,152,Graziano Pellè,Southampton,EPL,30,2167,...,Graziano,Pellè,2020,130,graziano-pelle,100000.0,194.0,356.0,1.447368,1.000191
277,8535,Fiorentina,132,75,300,Jakub Blaszczykowski,Fiorentina,Serie_A,15,762,...,Jakub,Blaszczykowski,2018,82,jakub-blaszczykowski,25000.0,176.0,351.0,1.570000,1.000154
866,8534,Empoli,20,28,76,Massimo Maccarone,Empoli,Serie_A,37,2779,...,Massimo,Maccarone,2016,749,massimo-maccarone,150000.0,180.0,426.0,1.157895,1.000140
699,9857,Bologna,68,79,263,Emanuele Giaccherini,Bologna,Serie_A,28,2190,...,Emanuele,Giaccherini,2018,862,emanuele-giaccherini,75000.0,167.0,358.0,1.076046,1.000129
702,9857,Bologna,68,79,263,Franco Brienza,Bologna,Serie_A,29,1667,...,Franco,Brienza,2016,1025,franco-brienza,50000.0,172.0,432.0,1.076046,1.000127
94,8456,Manchester City,175,61,304,Yaya Touré,Manchester City,EPL,32,2345,...,Yaya,Touré,2018,683,yaya-toure,100000.0,188.0,382.0,1.927632,1.000116
386,10269,VfB Stuttgart,99,61,272,Daniel Didavi,VfB Stuttgart,Bundesliga,31,2447,...,Daniel,Didavi,2021,79,daniel-didavi,200000.0,180.0,301.0,1.316176,1.000099
727,8370,Rayo Vallecano,66,28,190,Pablo Hernández,Rayo Vallecano,La_liga,27,1922,...,Pablo,Hernández,2017,940,pablo-hernandez,75000.0,184.0,341.0,1.189474,1.000099
347,8600,Udinese,115,76,302,Francesco Lodi,Udinese,Serie_A,24,1868,...,Francesco,Lodi,2016,410,francesco-lodi,25000.0,183.0,372.0,1.394040,1.000099
732,8370,Rayo Vallecano,66,28,190,Zé Castro,Rayo Vallecano,La_liga,22,1719,...,NaN,Zé Castro,2015,367,ze-castro,25000.0,183.0,386.0,1.189474,1.000096
799,7794,SC Bastia,51,37,152,Sadio Diallo,SC Bastia,Ligue_1,15,718,...,Sadio,Diallo,2019,820,sadio-diallo,50000.0,182.0,291.0,1.250000,1.000088
339,8600,Udinese,115,76,302,Cyril Théréau,Udinese,Serie_A,36,2912,...,Cyril,Théréau,2019,430,cyril-thereau,200000.0,189.0,383.0,1.394040,1.000086
415,9790,Hamburger SV,93,66,272,Pierre-Michel Lasogga,Hamburger SV,Bundesliga,30,1747,...,Pierre-Michel,Lasogga,2016,41,pierre-michel-lasogga,150000.0,189.0,279.0,1.268382,1.000083
722,8370,Rayo Vallecano,66,28,190,Javi Guerra,Rayo Vallecano,La_liga,30,2094,...,Javi,Guerra,2018,367,javi-guerra,200000.0,178.0,396.0,1.189474,1.000082
95,8456,Manchester City,175,61,304,Wilfried Bony,Manchester City,EPL,26,1203,...,Wilfried,Bony,2021,467,wilfried-bony,100000.0,183.0,315.0,1.927632,1.000080
438,8540,Palermo,91,68,266,Alberto Gilardino,Palermo,Serie_A,33,2362,...,Alberto,Gilardino,2016,2921,alberto-gilardino,200000.0,184.0,392.0,1.281955,1.000075

In [58]:
df_with_win_percent_sorted.columns

Index(['team_id', 'team_long_name', 'wins', 'ties', 'games_played',
       'player_name', 'teams_played_for', 'league', 'games', 'minutes_played',
       'goals', 'npg', 'assists', 'xG', 'xA', 'npxG', 'xG90', 'xA90', 'npxG90',
       'position_x', 'shots', 'key_passes', 'yellow_cards', 'red_cards',
       'xGBuildup', 'xGChain', 'player_id', 'first_name', 'last_name',
       'last_season', 'current_club_id', 'player_code', 'market_value_in_eur',
       'height_in_cm', 'age_in_months_2015', 'points_per_game',
       'player_performance_valuation'],
      dtype='object')

In [59]:
df_target = df_with_win_percent_sorted[['player_name', 'player_performance_valuation', 'player_id']]
df_target.head()

         player_name  player_performance_valuation  player_id
598     Germán Denis                      1.000639      30873
915    Callum Wilson                      1.000281     450826
107      David Silva                      1.000273      86759
992  Daniel Pavlovic                      1.000211      19671
748   Graziano Pellè                      1.000191      29594

In [60]:
df_target.to_csv('Player_Valuation_2015.csv', index=False)